.sdg-tag {
  color: var(--primary-blue);
  background-color: var(--grey);
  display: inline-block;
  padding: .5rem;
  margin-bottom: .5rem;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  text-shadow: none;
  font-size: 0.5rem;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
  transition: opacity 240ms ease-in-out;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
}

.sdg-tag--large {
  width: 80px;
  height: 80px;
}

.sdg-tag--filter {
  opacity: 0.5;
}

.sdg-tag--filter:hover {
  opacity: 1;
}

.sdg-tag--filter.nuxt-link-exact-active {
  opacity: 1;
  cursor: default;
}
