.list--inline {
  list-style: none;
  padding: 0;
}
.list--inline > li {
  display: inline-block;
}
.list--inline > li + li {
  margin-left: 1em;
}
.list--scroll {
  white-space: nowrap;
  overflow: scroll
}
