:root {
  /**
   * PBL booklet colors
   *
   * Don't use the text colors directly,
   * instead take a look at the UI colors at the bottom
   */
  --booklet--or-bu--0-5: #f3a34c;
  --booklet--or-bu--1-5: #ffc08c;
  --booklet--or-bu--2-5: #ffddc7;
  --booklet--or-bu--3-5: #98abba;
  --booklet--or-bu--4-5: #3f6a7e;
  --booklet--neutral: #dde4eb;
  --booklet--text: var(--booklet--or-bu--4-5);
  --booklet--text--light: var(--booklet--or-bu--3-5);
  --booklet--action: var(--booklet--or-bu--0-5);
  --booklet--action--light: var(--booklet--or-bu--1-5);

  /* Yellow Green Blue  */
  --yl-gn-bu--0-5: rgb(255,255,204);
  --yl-gn-bu--1-5: rgb(161,218,180);
  --yl-gn-bu--2-5: rgb(65,182,196);
  --yl-gn-bu--3-5: rgb(44,127,184);
  --yl-gn-bu--4-5: rgb(37,52,148);
  --yl-gn-bu: linear-gradient(
    to right,
    var(--yl-gn-bu--0-5),
    var(--yl-gn-bu--1-5),
    var(--yl-gn-bu--2-5),
    var(--yl-gn-bu--3-5),
    var(--yl-gn-bu--4-5));

  /* Yellow Orange Red */
  --yl-or-rd--0-5: rgb(255,255,178);
  --yl-or-rd--1-5: rgb(254,204,92);
  --yl-or-rd--2-5: rgb(253,141,60);
  --yl-or-rd--3-5: rgb(240,59,32);
  --yl-or-rd--4-5: rgb(189,0,38);
  --yl-or-rd: linear-gradient(
    to right,
    var(--yl-or-rd--0-5),
    var(--yl-or-rd--1-5),
    var(--yl-or-rd--2-5),
    var(--yl-or-rd--3-5),
    var(--yl-or-rd--4-5));

  /* Red Purple */
  --rd-pu--0-5: rgb(254,235,226);
  --rd-pu--1-5: rgb(251,180,185);
  --rd-pu--2-5: rgb(247,104,161);
  --rd-pu--3-5: rgb(197,27,138);
  --rd-pu--4-5: rgb(122,1,119);
  --rd-pu: linear-gradient(
    to right,
    var(--rd-pu--0-5),
    var(--rd-pu--1-5),
    var(--rd-pu--2-5),
    var(--rd-pu--3-5),
    var(--rd-pu--4-5));

  /* Oranges */
  --or--0-5:rgb(254,237,222);
  --or--1-5:rgb(253,190,133);
  --or--2-5:rgb(253,141,60);
  --or--3-5:rgb(230,85,13);
  --or--4-5:rgb(166,54,3);
  --or: linear-gradient(
    to right,
    var(--or--0-5),
    var(--or--1-5),
    var(--or--2-5),
    var(--or--3-5),
    var(--or--4-5));

  /* Theme colors */
  --too-dirty: var(--rd-pu--4-5);
  --too-dirty--light: var(--rd-pu--3-5);
  --too-dirty--gradient: var(--rd-pu);
  --too-little: var(--yl-or-rd--2-5);
  --too-little--light: var(--yl-or-rd--1-5);
  --too-little--gradient: var(--yl-or-rd);
  --too-much: var(--yl-gn-bu--4-5);
  --too-much--light: var(--yl-gn-bu--3-5);
  --too-much--gradient: var(--yl-gn-bu);

  /* UI colors */
  --ui--white: #fff;
  --ui--black: #00001e;
  --ui--white--trans: rgba(255, 255, 255, .75);
  --ui--black--trans: rgba(0, 0, 30, .75);
  --ui--blue:rgba(0,0,48, 1);
  --ui--blue--trans:rgba(0,0,48, .75);
  --ui--blue--bg: #4d4c69;
  --ui--bg: var(--ui--black);
  --ui--bg--white: var(--ui--white);
  --ui--bg--light: var(--booklet--neutral);
  --ui--bg--dark-transparent: rgba(1, 0, 42, 0);
  --ui--bg--dark-translucent: rgba(1, 0, 42, 0.75);
  --ui--bg--dark-opaque: rgba(1, 0, 42, 1);
  --ui--bg--theme-too-much-trans: rgba(38, 52, 147, 0.8);
  --ui--bg--theme-too-little-trans: rgba(254, 141, 59, 0.8);
  --ui--bg--theme-too-dirty-trans: rgba(122, 1, 119, 0.8);
  --ui--bg--theme-too-much-dark-trans: rgba(20, 28, 79, 0.75);
  --ui--bg--theme-too-little-dark-trans: rgba(84, 2, 18, 0.75);
  --ui--bg--theme-too-dirty-dark-trans: rgba(74, 33, 2, 0.75);
  --ui--text: var(--booklet--text);
  --ui--text--light: var(--booklet--text--light);
  --ui--text--invert: var(--ui--white);
  --ui--action: var(--booklet--action);
  --ui--action--light: var(--booklet--action--light);
  --ui--bottom-gradient: linear-gradient(to top, var(--ui--black), transparent);
  --ui--left-gradient: linear-gradient(to right, var(--ui--black),  transparent);
  --ui--light-grey: var(--booklet--neutral);
}

html {
  background-color: var(--ui--bg--dark-opaque);
}
