.YlGnBu .q0-5 {
  fill: rgb(255,255,204);
}
.YlGnBu .q1-5 {
  fill: rgb(161,218,180);
}

.YlGnBu .q2-5 {
  fill: rgb(65,182,196);
}
.too-much .light,
.YlGnBu .q3-5 {
  fill: rgb(44,127,184);
}
.too-much,
.YlGnBu .q4-5 {
  fill: rgb(37,52,148);
}

.YlOrRd .q0-5 {
  fill: rgb(255,255,178);
}
.too-little .light,
.YlOrRd .q1-5 {
  fill: rgb(254,204,92);
}
.too-little
.YlOrRd .q2-5 {
  fill: rgb(253,141,60);
}
.YlOrRd .q3-5 {
  fill: rgb(240,59,32);
}
.YlOrRd .q4-5 {
  fill: rgb(189,0,38);
}


.RdPu .q0-5 {
  fill: rgb(254,235,226);
}
.RdPu .q1-5 {
  fill: rgb(251,180,185);
}
.RdPu .q2-5 {
  fill: rgb(247,104,161);
}
.RdPu .q3-5 {
  fill: rgb(197,27,138);
}
.RdPu .q4-5 {
  fill: rgb(122,1,119);
}


.Oranges .q0-5 {
  fill: rgb(254,237,222);
}
.Oranges .q1-5 {
  fill: rgb(253,190,133);
}
.Oranges .q2-5 {
  fill: rgb(253,141,60);
}
.too-dirty .light,
.Oranges .q3-5 {
  fill: rgb(230,85,13);
}
.too-dirty,
.Oranges .q4-5 {
  fill: rgb(166,54,3);
}
