.button__back {
  display: flex;
  align-items: center;
  font-size: inherit;
  font-weight: 500;
  text-decoration: none;
  color: var(--white);
  background: none;
  border: none;
  cursor: pointer;
  appearance: none;
}

.button__back:hover,
.button__back:focus {
  color: var(--white);
}

.button__back:before {
  content: '';
  margin: .1rem .5rem 0 0;
  width: 5px;
  height: 10px;
  background-image: url('~assets/arrow-left.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
