.button__back {
  display: flex;
  align-items: center;
  font-size: inherit;
  padding: .5rem .7rem .6rem .75rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  appearance: none;
  background-color: var(--blue-primary);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
}

.button__back:hover,
.button__back:focus {
  color: var(--white);
}

.button__back:before {
  content: '';
  margin: .1rem .5rem 0 0;
  width: 5px;
  height: 10px;
  background-image: url('~assets/arrow-left.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
