:root {
  --booklet--neutral: #dde4eb;
  --booklet--text: #3f6a7e;

  /* Yellow Green Blue  */
  --yl-gn-bu--1-5: rgb(161,218,180);
  --yl-gn-bu--3-5: rgb(44,127,184);

  /* UI colors */
  --ui--white: #fff;
  --ui--black: #00001e;
  --ui--grey: #353535;
  --ui--white--trans: rgba(255, 255, 255, .75);
  --ui--black--trans: rgba(0, 0, 30, .75);
  --ui--blue:rgba(0,0,48, 1);
  --ui--blue--bg: #4d4c69;
  --ui--blue--light: #68e4f5;
  --ui--bg--white: var(--ui--white);
  --ui--bg--light: var(--booklet--neutral);
  --ui--bg--dark-transparent: rgba(1, 0, 42, 0);
  --ui--bg--dark-translucent: rgba(1, 0, 42, 0.75);
  --ui--bg--dark-opaque: #000226;
  --ui--text: var(--booklet--text);
  --ui--text--light: #98abba;
  --ui--text--invert: var(--ui--white);
  --ui--light-grey: var(--booklet--neutral);
}
