:root {
  --white: #FFFFFF;
  --black-primary: #080808;
  --black-secondary: #353535;
  --black-tertiary: #9D9D9D;
  --blue-primary: #000030;
  --blue-primary--lighter: #00004D;
  --blue-primary--light: #1b1b5d;
  --blue-secondary: #467388;
  --blue-tertiary: #68D4F5;
  --orange: #F28D82;
  --indigo: #252534;
}
