@import './colors.css';
@import './reset.css';
@import './a11y.css';
@import './list.css';
@import './tag/tag.css';
@import './sdg-tag/sdg-tag.css';
@import './typography/typography.css';
@import './animations.css';

.layout--static-page {
  width: 100%;
  background-color: var(--ui--white);
  color: var(--ui--black);
}

.layout-section {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0 20px;
  width: 100%;
  background: var(--ui--bg--dark-opaque);
}

.layout-section__container {
  width: 100%;
  max-width: 950px;
  z-index: 1;
}

@media (min-width: 600px) {
  .layout-section {
    padding: 0 40px;
  }
}
