.layout--static-page {
  width: 100%;
  background-color: var(--white);
  color: var(--primary-blue);
}

.layout-section {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0 20px;
  width: 100%;
  background: var(--black);
}

.layout-section__container {
  width: 100%;
  max-width: 950px;
  z-index: 1;
}

@media (--sm-viewport) {
  .layout-section {
    padding: 0 40px;
  }
}

.event {
  background: var(--black);
}

.event__layout {
  max-width: var(--event-column-width);
  margin-right: auto;
  margin-left: auto;
}

.event__layout--padded {
  padding-right: 1rem;
  padding-left: 1rem;
}

.event__content .event__layout:not(:last-child) {
  margin-bottom: 3rem;
}

@media (--sm-viewport) {
  .event__content .event__layout:not(:last-child) {
    margin-bottom: 4rem;
  }
}

.event__content {
  margin-bottom: 3rem;
}

@media (--sm-viewport) {
  .event__content {
    margin-bottom: 4rem;
  }
}

.event__layout--background-black {
  background-color: var(--black);
}

.event__layout--background-blue {
  background-color: var(--primary-blue);
}

.event-section--wave-top-black:before,
.event-section--wave-top-blue:before,
.event-section--wave-bottom-black:after,
.event-section--wave-bottom-blue:after {
  content: '';
  display: block;
  padding-bottom: 18%;
  width: 100%;
  height: 0;
  background-size: 100% auto;
  background-repeat: repeat-x;
}

@media (--sm-viewport) {
  .event-section--wave-top-black:before,
  .event-section--wave-top-blue:before {
    padding-bottom: 0;
    height: 233px;
    background-size: auto 297px;
  }

  .event-section--wave-bottom-black:after,
  .event-section--wave-bottom-blue:after {
    padding-bottom: 0;
    height: 200px;
    background-size: auto 200px;
  }
}

.event-section--wave-top-black:before {
  background-image: url('/section-wave-top-black.svg');
}

.event-section--wave-top-blue:before {
  background-image: url('/section-wave-top-blue.svg');
}

.event-section--wave-bottom-black:after {
  background-image: url('/section-wave-bottom-black.svg');
}

.event-section--wave-bottom-blue:after {
  background-image: url('/section-wave-bottom-blue.svg');
}

.event-section--wave-top-bg-blue:before,
.event-section--wave-bottom-bg-blue:after {
  background-color: var(--primary-blue);
}

.event-section--wave-top-bg-black:before,
.event-section--wave-bottom-bg-black:after {
  background-color: var(--black);
}

.event-section__content {
  padding: 2rem 0;
}

@media (--sm-viewport) {
  .event-section__content {
    padding: 3rem 0;
  }
}
