.layout-static-page {
  width: 100%;
  min-height: 100vh;
  background-color: var(--blue-primary);
  color: var(--white);
  padding: 4rem 0 0 0;
}

@media (--sm-viewport) {
  .layout-static-page {
    padding: 7rem 0 0 0;
  }
}

.layout-static-page--light {
  background-color: var(--white);
  color: var(--blue-primary);
}

.layout-section {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0 20px;
  width: 100%;
}

@media (--sm-viewport) {
  .layout-section {
    padding: 0 40px;
  }
}

.layout-section__container {
  width: 100%;
  max-width: var(--wwa-column-width);
  margin: 0 auto;
  z-index: 1;
}

.layout-section__container--padded {
  padding-right: 1rem;
  padding-left: 1rem;
}

.layout-section__container:not(:last-child) {
  margin-bottom: 3rem;
}

@media (--sm-viewport) {
  .layout-section__container:not(:last-child) {
    margin-bottom: 4rem;
  }
}

.layout-section__content {
  padding: 2rem 0;
}

@media (--sm-viewport) {
  .layout-section__content {
    padding: 3rem 0;
  }
}

.layout-section--background-black {
  background-color: var(--black-primary);
}

.layout-section--background-blue {
  background-color: var(--blue-primary);
}

.layout-section--wave-top-black:before,
.layout-section--wave-top-blue:before,
.layout-section--wave-bottom-black:after,
.layout-section--wave-bottom-blue:after {
  content: '';
  display: block;
  padding-bottom: 18%;
  width: 100%;
  height: 0;
  background-size: 100% auto;
  background-repeat: repeat-x;
}

@media (--sm-viewport) {
  .layout-section--wave-top-black:before,
  .layout-section--wave-top-blue:before {
    padding-bottom: 0;
    height: 233px;
    background-size: auto 297px;
  }

  .layout-section--wave-bottom-black:after,
  .layout-section--wave-bottom-blue:after {
    padding-bottom: 0;
    height: 200px;
    background-size: auto 200px;
  }
}

.layout-section--wave-top-black:before {
  background-image: url('~assets/section-wave-top-black.svg');
}

.layout-section--wave-top-blue:before {
  background-image: url('~assets/section-wave-top-blue.svg');
}

.layout-section--wave-bottom-black:after {
  background-image: url('~assets/section-wave-bottom-black.svg');
}

.layout-section--wave-bottom-blue:after {
  background-image: url('~assets/section-wave-bottom-blue.svg');
}

.layout-section--wave-top-bg-blue:before,
.layout-section--wave-bottom-bg-blue:after {
  background-color: var(--blue-primary);
}

.layout-section--wave-top-bg-black:before,
.layout-section--wave-bottom-bg-black:after {
  background-color: var(--black-primary);
}

.event {
  background: var(--black-primary);
}

.event__content {
  margin-bottom: 3rem;
}

@media (--sm-viewport) {
  .event__content {
    margin-bottom: 4rem;
  }
}
