html {
  box-sizing: border-box;
  background-color: var(--primary-blue);
  color: var(--white);
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
}
