@import '../colors/colors.css';

.tag {
  background-color: var(--ui--text--light);
  color: var(--ui--text);
  display: inline-block;
  border-radius: 1rem;
  padding: .25rem 1rem .375rem 1rem;
  margin: .25em 1px .25em -1px;
  text-decoration: none;
  position: relative;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}

a.tag:hover {
  background-color: var(--ui--text);
  color: var(--ui--white);
}

.tag--removable {
  padding: .25rem 2rem .375rem 1rem;
}

.tag--removable::after {
  content: '\00D7';
  font-size: 1.25em;
  position: absolute;
  right: .5em;
  bottom: 0.25em;
}

.tag--control {
  font-size: 1rem;
  appearance: none;
  background-color: transparent;
  color: var(--ui--text--invert);
  text-transform: none;
}


