@import '../colors/colors.css';
.tag {
  color: var(--ui--text);
  background-color: rgba(221, 228, 235, 0.5);
  display: inline-block;
  border-radius: 1rem;
  padding: .25rem 1rem .375rem 1rem;
  margin: .25em 1px .25em -1px;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: color .25s;
}
.tag:hover {
  color: var(--ui--text--light);
}

.tag--removable {
  padding: .25rem 2rem .375rem 1rem;
}

.tag--removable::after {
  content: '\00D7';
  font-size: 1.25em;
  position: absolute;
  right: .5em;
  bottom: 0.25em;
}

.tag--control {
  font-size: 1rem;
  appearance: none;
  background-color: transparent;
  color: var(--ui--text--invert);
  text-transform: none;
}

.tag--influence::before {
  content: '';
  display: inline-block;
  width: 1.25em;
  margin-left: -.375em;
  margin-right: .25em;
  height: 1em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto auto;

}
.tag--partnership::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 14'%3E%3Cg fill='%238C46AA'%3E%3Cpath d='M11.5 4.9c-.5-.5-.9-.6-1.5-.3a14.2 14.2 0 0 1-2.5 1.1c-.8.1-1.7-.5-1.9-1.3-.3-.8 0-1.7.8-2.3l1.3-.8L8.9.7 8.6.5C7.9 0 7.1-.1 6.3.2c-.9.4-1.8.8-2.6 1.4a2 2 0 0 1-1.3.2L0 1v6.6L1 8v-.1c.3-.7.8-1.1 1.5-1.3 1-.2 2 .2 2.3 1.2L5 8c.5.2.9.5 1.1 1l.2.2c.5.2.9.6 1.1 1.2l.2.2c.8.3 1.3 1.1 1.2 2v.1l.5.5c.4.4 1.1.2 1.3-.4.1-.3 0-.6-.2-.8l-1-1.1-.1-.3.2.1 1.3 1.3c.3.3.6.3.9.2.3-.1.5-.4.5-.8l-.3-.6-1.1-1.1-.2-.4.2.2 1.4 1.4c.3.3.7.4 1 .2.5-.3.6-.9.2-1.4l-1.1-1.1-.1-.3c.1-.1.2 0 .3.1l1.1 1.1c.4.4.9.4 1.2 0a1 1 0 0 0 0-1.2l-3.3-3.4z' class='st0'/%3E%3Cpath d='M18.8 1.7l-2.7.6c-.4.1-.7 0-1-.3L13.2.4c-.6-.5-1.2-.5-1.9-.2L6.8 2.8c-.5.3-.7.9-.4 1.5.2.5.9.7 1.4.4L9.1 4l1.5-.8c.5-.2.9-.1 1.3.3l3.8 3.8c.3.3.7.5 1.2.4l2-.4V1.7h-.1zm-12 9.7h-.4c.1-.4.1-.8-.2-1.1-.2-.3-.6-.3-1-.3C5.2 9 5 8.8 4 8.7v-.1c.1-.7-.4-1.2-1.1-1.1-.6 0-1.1.6-1.2 1.2l.1.6c.2.4.5.5 1 .4l.4-.1-.3.4c-.1.3 0 .5.2.8.2.2.4.3.7.2l.5-.1-.2.5c-.1.3 0 .6.2.8.2.2.5.2.8.1l.5-.1-.2.5c-.1.4 0 .8.5 1 .6.2 1.6-.1 1.9-1 .2-.7-.3-1.3-1-1.3z' /%3E%3C/g%3E%3C/svg%3E")
}
.tag--peace::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 14'%3E%3Cpath fill='%23379bdc' d='M19.6 2.7s-1 .5-1.2.9v.1l-.2-.4c.5-.5 1.5-1.9-.3-2.6l-.6 1.1C16.3.6 15.2.2 14.1.3L16 2c-.3.1-.8.2-.9.5 0 0 .1.5 1.1.9l1.5.1.3.8c-.4-.5-1-.7-1.8-.3 0 0 .4.7.8 1l1.3.5v.7l-.5-.2C16.5 4.5 15 4.8 15 4.8c-1.1 0-2.5.8-2.5.8C11.9 1.7 7.3.9 7.3.9c1.8 2.3.7 3 .7 3-3.6.6-6.6-2.2-6.6-2.2.3 5.4 4.6 7 4.6 7 0 .9-1.3 1.4-1.3 1.4L0 11.6a9 9 0 0 1 3 1.9c1.5-1.6 3.3-1.8 3.3-1.8s1.2.8 3.5.8 3.8-1.3 4.5-2.9a5 5 0 0 1 2.4-2.3l1.4-.1-.4 1.3c1.1-.8 1.3-2.2 1.1-3.5.7-.2 1.8-1 .8-2.3z'/%3E%3C/svg%3E")
}
.tag--people::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 10'%3E%3Cg fill='%236E6EC8'%3E%3Cpath d='M2.8 3.2s.1 0 0 0c.1 0 .1 0 0 0l.2.6v1.5h.3V3c-.1-.9-.8-.9-1.2-.9-.4 0-1.3 0-1.3 1.2v2h.3l.1-1.2v-.3l.1-.5v2L.5 6.6h.7v3.2h.7l.2-3.3.2 3.3H3V6.6h.7l-.8-1.4-.1-2z'/%3E%3Ccircle cx='2.1' cy='1.2' r='1'/%3E%3Cpath d='M5.9.2a1 1 0 0 0 0 2H6l.3-.1c.3-.2.5-.5.5-.8A1 1 0 0 0 5.9.2z'/%3E%3Cpath d='M5.6 2.1s.1 0 0 0c-.3 0-.9 0-1.2.4l-.1.8v2.1h.4l.1-1.5.1-.7v2l-.1 4.6h.7l.2-3.3.2 3.3h.7l-.2-4.6V3.3l.1.6v1.6h.3V3.3c.1-1.1-.7-1.2-1.2-1.2zm4.9 1.2c0-.1 0-.1 0 0 0-.1 0-.1 0 0l.1.5.1 1.5h.3V3c-.2-.9-1-.9-1.3-.8-.4 0-1.4 0-1.4 1.2v2h.4l.1-1.2v-.3l.1-.5v2l-.8 1.2h.7l.1 3.2h.7l.2-3.3.2 3.3h.7l.1-3.2h.7l-.8-1.3c-.2-.1-.2-1.8-.2-2z'/%3E%3Ccircle cx='9.7' cy='1.2' r='1'/%3E%3Cpath d='M13.5 2.1h.1l.3-.1c.3-.2.5-.5.5-.8a1 1 0 0 0-2 0c.2.5.6.9 1.1.9zm-.2 0c-.3 0-.9 0-1.2.4l-.1.8v2h.4l.1-1.5.1-.6v2l-.1 4.6h.7l.2-3.3.2 3.3h.7l-.1-4.6V3.3l.1.6v1.5h.3v-2c-.1-1.2-.9-1.3-1.3-1.3z'/%3E%3C/g%3E%3C/svg%3E")
}
.tag--planet::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='%2328af64' d='M12 0c-1.2 1.8-5.4 2-7.4 2.6l-.5.2S1.9 3.3.7 5.3L.2 6.7 0 8.3c0 1.9.4 3.7.4 3.7h.9c-.4-1-.6-1.8-.6-2.5-.5-3.8 4-4.4 4-4.4-2.5 1.2-3.2 2.4-3.4 3.2h.1C10 10.6 12.2-.6 12 0z'/%3E%3C/svg%3E");
}
.tag--prosperity::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 12'%3E%3Cpath fill='%23F4960A' fill-rule='evenodd' d='M4.5 12h4V3h-4zM0 12h3V7H0zm10 0h4V0h-4z'/%3E%3C/svg%3E");
}

