@import '../colors/colors.css';

.tag {
  background-color: var(--ui--text--light);
  color: var(--ui--text);
  border-radius: 1rem;
  padding: .25rem 1rem .375rem 1rem;
  text-decoration: none;
  position: relative;
  border: none;
}

.tag--removable {
  padding: .25rem 2rem .375rem 1rem;
}

.tag--removable::after {
  content: '\00D7';
  font-size: 1.25em;
  position: absolute;
  right: .5em;
  bottom: 0.25rem;
}

.tag--control {
  font-size: 1rem;
  appearance: none;
  background-color: var(--ui--action);
}

.tag:hover {
  background-color: var(--ui--text--light);
}

